<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Regression Test Suite" >
    <test name="Regression Test">
        <classes>
            <class name="test.HomepageTest" />
            <class name="test.SearchProductTest" />
<!--
            <class name="test.MxPlayerHomepageTest" />
-->
        </classes>
    </test>
</suite>